.menu-college-airf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-alstu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-apsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-armnav {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-army {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-arsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-asu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-aub {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-augu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-bayu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-bcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-boisu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-bosc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-bten {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-byu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-cfp-bowl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-cfp-championship {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-clem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-cmiu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-coc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-cosu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-cotton {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-creu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-cws {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-duke {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ecu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ewau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-famu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-flau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-frst {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-fsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-gasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-gat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-gonu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-grsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-hamu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-howu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-hvd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-iasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ilsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-inu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-jmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-jsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-lafayette {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-lehigh {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-loyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-lsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-maru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-mostu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-mqu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-mssu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-msu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-mtsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-navy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ncaa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ncat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-nccu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ncsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ndsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-nwu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-oksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-orange {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-orsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-osu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-psu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-puru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-rmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-rose {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-rutu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-saintjohns {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-scar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-scsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-sdcas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-sdsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-sfa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-smu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-souu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-stan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-stthomas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-syru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-tcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-tnsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-troy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-tusku {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-txam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-txt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ual {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ualb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uaz {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ucalb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ucf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ucin {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ucla {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uco {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uconn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uday {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ude {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ufl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uga {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uhou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uil {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ukan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uky {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ulam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ulou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-umd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-umem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-umi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-umia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-umn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-umo {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-ums {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-umt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-unc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-und {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-une {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-unm {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-unod {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-unv {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uok {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uor {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-upitt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-urich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-usal {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-usc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -300px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-usm {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -350px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-utep {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -400px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-utn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -450px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-utsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -500px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-utx {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uut {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uva {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uwa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uwi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-uwy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-vanu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -300px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-vat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -350px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-vcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -400px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-vilu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -450px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-wasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -500px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-wfu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -550px -550px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-wich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -0px -600px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-wkyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -50px -600px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-wssu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -100px -600px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-wvu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -150px -600px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-xavu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -200px -600px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-college-yale {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/college-spritesheet-48_20260225.png') no-repeat -250px -600px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}