.icons-college-airf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-alstu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-apsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-armnav {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-army {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-arsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-asu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-aub {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-augu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-bayu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-bcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-boisu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-bosc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-bten {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-byu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-cfp-bowl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-cfp-championship {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-clem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-cmiu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-coc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-cosu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-cotton {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-creu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-cws {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-duke {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-ecu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-ewau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-famu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-flau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-frst {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-fsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-gasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-gat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-gonu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-grsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-hamu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-howu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-hvd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-iasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-ilsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-inun {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-jmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-jsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-ksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-lafayette {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-lehigh {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-loyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-lsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-maru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-mostu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-mqu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-mssu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-msu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-mtsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-navy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-ncaa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-ncat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-nccu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-ncsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-ndsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-nwu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-oksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-orange {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-orange25 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-orsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-osu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-psu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-puru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-rmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-rose {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-rutu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-saintjohns {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-scar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-scsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-sdcas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-sdsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-sfa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-smu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-souu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-stan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-stthomas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-syru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-tcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-tnsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-troy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-tusku {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-txam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-txt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-ual {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-ualb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-uar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-uaz {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-ucalb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-ucf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-ucin {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-ucla {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-uco {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-uconn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-uday {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-ude {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-ufl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-uga {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-uhou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-uia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-uil {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-ukan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-uky {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-ulam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-ulou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-umd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-umem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-umi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-umia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-umn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-umo {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-ums {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-umt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-unc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-und {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-une {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-unm {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-unod {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-unv {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-uok {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-uor {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-upitt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-urich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-usal {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-usc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -714px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-usm {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -816px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-utep {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -918px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-utn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1020px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-utsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -0px;
   width: 100px;
   height: 100px;
}
.icons-college-utxx {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -102px;
   width: 100px;
   height: 100px;
}
.icons-college-uut {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -204px;
   width: 100px;
   height: 100px;
}
.icons-college-uva {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -306px;
   width: 100px;
   height: 100px;
}
.icons-college-uwa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -408px;
   width: 100px;
   height: 100px;
}
.icons-college-uwi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -510px;
   width: 100px;
   height: 100px;
}
.icons-college-uwy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -612px;
   width: 100px;
   height: 100px;
}
.icons-college-vanu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -714px;
   width: 100px;
   height: 100px;
}
.icons-college-vat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -816px;
   width: 100px;
   height: 100px;
}
.icons-college-vcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -918px;
   width: 100px;
   height: 100px;
}
.icons-college-vilu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -1020px;
   width: 100px;
   height: 100px;
}
.icons-college-wasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -1122px -1122px;
   width: 100px;
   height: 100px;
}
.icons-college-wfu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -0px -1224px;
   width: 100px;
   height: 100px;
}
.icons-college-wich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -102px -1224px;
   width: 100px;
   height: 100px;
}
.icons-college-wkyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -204px -1224px;
   width: 100px;
   height: 100px;
}
.icons-college-wssu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -306px -1224px;
   width: 100px;
   height: 100px;
}
.icons-college-wvu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -408px -1224px;
   width: 100px;
   height: 100px;
}
.icons-college-xavu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -510px -1224px;
   width: 100px;
   height: 100px;
}
.icons-college-yale {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-100_20260225.png') no-repeat -612px -1224px;
   width: 100px;
   height: 100px;
}