.icons-mobile-college-airf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -0px;
}
.icons-mobile-college-alstu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -66px;
}
.icons-mobile-college-apsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -0px;
}
.icons-mobile-college-army {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -66px;
}
.icons-mobile-college-arsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -132px;
}
.icons-mobile-college-asu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -132px;
}
.icons-mobile-college-aub {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -0px;
}
.icons-mobile-college-augu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -66px;
}
.icons-mobile-college-bayu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -132px;
}
.icons-mobile-college-boisu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -198px;
}
.icons-mobile-college-bcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -198px;
}
.icons-mobile-college-bosc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -198px;
}
.icons-mobile-college-bten {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -0px;
}
.icons-mobile-college-byu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -66px;
}
.icons-mobile-college-cfp-bowl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -132px;
}
.icons-mobile-college-cfp-championship {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -198px;
}
.icons-mobile-college-clem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -264px;
}
.icons-mobile-college-cmiu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -264px;
}
.icons-mobile-college-coc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -264px;
}
.icons-mobile-college-cosu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -264px;
}
.icons-mobile-college-cotton {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -0px;
}
.icons-mobile-college-creu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -66px;
}
.icons-mobile-college-cws {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -132px;
}
.icons-mobile-college-duke {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -198px;
}
.icons-mobile-college-ecu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -264px;
}
.icons-mobile-college-ewau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -330px;
}
.icons-mobile-college-famu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -330px;
}
.icons-mobile-college-flau {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -330px;
}
.icons-mobile-college-frst {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -330px;
}
.icons-mobile-college-fsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -330px;
}
.icons-mobile-college-gasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -0px;
}
.icons-mobile-college-gat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -66px;
}
.icons-mobile-college-gonu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -132px;
}
.icons-mobile-college-grsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -198px;
}
.icons-mobile-college-hamu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -264px;
}
.icons-mobile-college-howu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -330px;
}
.icons-mobile-college-hvd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -396px;
}
.icons-mobile-college-iasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -396px;
}
.icons-mobile-college-ilsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -396px;
}
.icons-mobile-college-inu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -396px;
}
.icons-mobile-college-jmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -396px;
}
.icons-mobile-college-jsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -396px;
}
.icons-mobile-college-ksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -0px;
}
.icons-mobile-college-lafayette {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -66px;
}
.icons-mobile-college-lehigh {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -132px;
}
.icons-mobile-college-loyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -198px;
}
.icons-mobile-college-lsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -264px;
}
.icons-mobile-college-maru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -330px;
}
.icons-mobile-college-mostu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -396px;
}
.icons-mobile-college-mqu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -462px;
}
.icons-mobile-college-mssu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -462px;
}
.icons-mobile-college-msu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -462px;
}
.icons-mobile-college-mtsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -462px;
}
.icons-mobile-college-navy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -462px;
}
.icons-mobile-college-ncaa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -462px;
}
.icons-mobile-college-ncat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -462px;
}
.icons-mobile-college-nccu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -0px;
}
.icons-mobile-college-ncsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -66px;
}
.icons-mobile-college-ndsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -132px;
}
.icons-mobile-college-nwu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -198px;
}
.icons-mobile-college-oksu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -264px;
}
.icons-mobile-college-orange {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -330px;
}
.icons-mobile-college-orsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -396px;
}
.icons-mobile-college-osu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -462px;
}
.icons-mobile-college-psu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -528px;
}
.icons-mobile-college-puru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -528px;
}
.icons-mobile-college-rmu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -528px;
}
.icons-mobile-college-rose {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -528px;
}
.icons-mobile-college-rutu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -528px;
}
.icons-mobile-college-saintjohns {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -528px;
}
.icons-mobile-college-scar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -568px;
}
.icons-mobile-college-scsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -528px;
}
.icons-mobile-college-sdcas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -0px;
}
.icons-mobile-college-sdsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -66px;
}
.icons-mobile-college-sfa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -132px;
}
.icons-mobile-college-smu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -198px;
}
.icons-mobile-college-souu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -264px;
}
.icons-mobile-college-stan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -330px;
}
.icons-mobile-college-stthomas {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -396px;
}
.icons-mobile-college-syru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -462px;
}
.icons-mobile-college-tcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -528px;
}
.icons-mobile-college-tnsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -594px;
}
.icons-mobile-college-troy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -594px;
}
.icons-mobile-college-tusku {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -594px;
}
.icons-mobile-college-txt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -594px;
}
.icons-mobile-college-uaz {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -594px;
}
.icons-mobile-college-unm {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -594px;
}
.icons-mobile-college-urich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -594px;
}
.icons-mobile-college-wssu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -594px;
}
.icons-mobile-college-txam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -594px;
}
.icons-mobile-college-ualb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -0px;
}
.icons-mobile-college-uar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -66px;
}
.icons-mobile-college-ual {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -132px;
}
.icons-mobile-college-ucalb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -198px;
}
.icons-mobile-college-ucf {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -264px;
}
.icons-mobile-college-ucin {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -330px;
}
.icons-mobile-college-ucla {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -396px;
}
.icons-mobile-college-uco {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -462px;
}
.icons-mobile-college-uconn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -528px;
}
.icons-mobile-college-uday {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -594px;
}
.icons-mobile-college-ude {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -660px;
}
.icons-mobile-college-ufl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -660px;
}
.icons-mobile-college-uga {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -660px;
}
.icons-mobile-college-uhou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -660px;
}
.icons-mobile-college-uia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -660px;
}
.icons-mobile-college-uil {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -660px;
}
.icons-mobile-college-ukan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -660px;
}
.icons-mobile-college-uky {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -660px;
}
.icons-mobile-college-ulam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -660px;
}
.icons-mobile-college-ulou {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -660px;
}
.icons-mobile-college-umd {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -0px;
}
.icons-mobile-college-umem {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -66px;
}
.icons-mobile-college-umi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -132px;
}
.icons-mobile-college-umia {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -198px;
}
.icons-mobile-college-umn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -264px;
}
.icons-mobile-college-umo {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -330px;
}
.icons-mobile-college-ums {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -396px;
}
.icons-mobile-college-umt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -462px;
}
.icons-mobile-college-unc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -528px;
}
.icons-mobile-college-und {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -594px;
}
.icons-mobile-college-une {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -660px;
}
.icons-mobile-college-unod {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -726px;
}
.icons-mobile-college-unv {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -726px;
}
.icons-mobile-college-uok {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -726px;
}
.icons-mobile-college-uor {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -726px;
}
.icons-mobile-college-upitt {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -726px;
}
.icons-mobile-college-usal {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -330px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -726px;
}
.icons-mobile-college-usc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -396px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -726px;
}
.icons-mobile-college-usm {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -462px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -726px;
}
.icons-mobile-college-utep {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -528px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -528px -726px;
}
.icons-mobile-college-utn {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -594px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -594px -726px;
}
.icons-mobile-college-utsu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -660px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -660px -726px;
}
.icons-mobile-college-utx {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -0px;
}
.icons-mobile-college-uut {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -66px;
}
.icons-mobile-college-uva {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -132px;
}
.icons-mobile-college-uwa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -198px;
}
.icons-mobile-college-uwi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -264px;
}
.icons-mobile-college-uwy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -330px;
}
.icons-mobile-college-vanu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -396px;
}
.icons-mobile-college-vat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -462px;
}
.icons-mobile-college-vcu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -528px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -528px;
}
.icons-mobile-college-vilu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -594px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -594px;
}
.icons-mobile-college-wasu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -660px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -660px;
}
.icons-mobile-college-wfu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -726px -726px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -726px -726px;
}
.icons-mobile-college-wich {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -0px -792px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -792px;
}
.icons-mobile-college-wkyu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -66px -792px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -792px;
}
.icons-mobile-college-wvu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -132px -792px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -792px;
}
.icons-mobile-college-xavu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -198px -792px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -792px;
}
.icons-mobile-college-yale {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/college-spritesheet-64_20260225.png') no-repeat -264px -792px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -792px;
}