.nfl {
   background: url('licensed-spritesheet-100.png') no-repeat -0px -0px;
   width: 100px;
   height: 100px;
}
.nhl {
   background: url('licensed-spritesheet-100.png') no-repeat -0px -102px;
   width: 100px;
   height: 100px;
}
.skylines {
   background: url('licensed-spritesheet-100.png') no-repeat -102px -0px;
   width: 100px;
   height: 100px;
}
.usskylines {
   background: url('licensed-spritesheet-100.png') no-repeat -102px -102px;
   width: 100px;
   height: 100px;
}
.worldskylines {
   background: url('licensed-spritesheet-100.png') no-repeat -0px -204px;
   width: 100px;
   height: 100px;
}
.framing {
   background: url('licensed-spritesheet-100.png') no-repeat -102px -204px;
   width: 100px;
   height: 100px;
}
.icons {
   background: url('licensed-spritesheet-100.png') no-repeat -204px -0px;
   width: 100px;
   height: 100px;
}
.golfhorse {
   background: url('licensed-spritesheet-100.png') no-repeat -204px -102px;
   width: 100px;
   height: 100px;
}
.lighthouse {
   background: url('licensed-spritesheet-100.png') no-repeat -204px -204px;
   width: 100px;
   height: 100px;
}
.mlb {
   background: url('licensed-spritesheet-100.png') no-repeat -0px -306px;
   width: 100px;
   height: 100px;
}
.nascar {
   background: url('licensed-spritesheet-100.png') no-repeat -102px -306px;
   width: 100px;
   height: 100px;
}
.nationalparks {
   background: url('licensed-spritesheet-100.png') no-repeat -204px -306px;
   width: 100px;
   height: 100px;
}
.ncaa {
   background: url('licensed-spritesheet-100.png') no-repeat -306px -0px;
   width: 100px;
   height: 100px;
}