.icons-licensed-college {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/licensed-spritesheet-100_20260318b.png') no-repeat -0px -0px;
   width: 100px;
   height: 100px;
}
.icons-licensed-mlb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/licensed-spritesheet-100_20260318b.png') no-repeat -0px -102px;
   width: 100px;
   height: 100px;
}
.icons-licensed-nhl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/licensed-spritesheet-100_20260318b.png') no-repeat -102px -0px;
   width: 100px;
   height: 100px;
}
.icons-licensed-nascar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/licensed-spritesheet-100_20260318b.png') no-repeat -102px -102px;
   width: 100px;
   height: 100px;
}
.icons-licensed-nfl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/licensed-spritesheet-100_20260318b.png') no-repeat -0px -204px;
   width: 100px;
   height: 100px;
}
.icons-licensed-nba {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/licensed-spritesheet-100_20260318b.png') no-repeat -102px -204px;
   width: 100px;
   height: 100px;
}