.menu-parent-framing {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -0px -0px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -0px;
}
.menu-parent-golfhorse {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -0px -50px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -50px;
}
.menu-parent-icons {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -50px -0px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -50px -0px;
}
.menu-parent-lighthouse {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -50px -50px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -50px -50px;
}
.menu-parent-mlb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -0px -100px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -100px;
}
.menu-parent-nascar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -50px -100px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -50px -100px;
}
.menu-parent-nationalparks {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -100px -0px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -100px -0px;
}
.menu-parent-nba {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -100px -50px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -100px -50px;
}
.menu-parent-ncaa {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -100px -100px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -100px -100px;
}
.menu-parent-nfl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -0px -150px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -150px;
}
.menu-parent-nhl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -50px -150px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -50px -150px;
}
.menu-parent-skylines {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -100px -150px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -100px -150px;
}
.menu-parent-usskylines {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -150px -0px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -150px -0px;
}
.menu-parent-worldskylines {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/menu-top-spritesheet-48_20260217.png') no-repeat -150px -50px;
   width: 48px;
   height: 48px;
   float:left;
   margin-right:15px;
   margin-top:-3px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -150px -50px;
}