.menu-mlb-arizona-diamondbacks {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -0px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-atlanta-braves {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -0px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-baltimore-orioles {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -50px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-boston-red-sox {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -50px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-chicago-cubs {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -0px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-chicago-white-sox {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -50px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-cincinnati-reds {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -100px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-cleveland-guardians {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -100px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-colorado-rockies {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -100px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-detroit-tigers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -0px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-houston-astros {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -50px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-kansas-city-royals {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -100px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-los-angeles-angels {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -150px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-los-angeles-dodgers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -150px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-miami-marlins {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -150px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-milwaukee-brewers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -150px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-minnesota-twins {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -0px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-mlb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -50px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-new-york-mets {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -100px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-new-york-yankees {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -150px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-oakland-athletics {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -200px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-philadelphia-phillies {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -200px -50px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-pittsburgh-pirates {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -200px -100px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-san-diego-padres {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -200px -150px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-san-francisco-giants {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -200px -200px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-st-louis-cardinals {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -0px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-seattle-mariners {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -50px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-tampa-bay-rays {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -100px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-toronto-blue-jays {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -150px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-washington-nationals {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -200px -250px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}
.menu-mlb-texas-rangers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/logos/mlb-spritesheet-48_20260216.png') no-repeat -250px -0px;
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 15px;
   margin-top: -3px;
   zoom: 0.5;
   -moz-transform: scale(0.5);
   -moz-transform-origin: ;
}