.icons-mobile-mlb-arizona-diamondbacks {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -0px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -0px;
}
.icons-mobile-mlb-atlanta-braves {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -0px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -66px;
}
.icons-mobile-mlb-baltimore-orioles {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -66px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -0px;
}
.icons-mobile-mlb-boston-red-sox {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -66px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -66px;
}
.icons-mobile-mlb-chicago-cubs {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -0px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -132px;
}
.icons-mobile-mlb-chicago-white-sox {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -66px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -132px;
}
.icons-mobile-mlb-cincinnati-reds {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -132px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -0px;
}
.icons-mobile-mlb-cleveland-guardians {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -132px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -66px;
}
.icons-mobile-mlb-colorado-rockies {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -132px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -132px;
}
.icons-mobile-mlb-detroit-tigers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -0px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -198px;
}
.icons-mobile-mlb-houston-astros {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -66px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -198px;
}
.icons-mobile-mlb-kansas-city-royals {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -132px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -198px;
}
.icons-mobile-mlb-los-angeles-angels {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -198px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -0px;
}
.icons-mobile-mlb-los-angeles-dodgers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -198px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -66px;
}
.icons-mobile-mlb-miami-marlins {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -198px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -132px;
}
.icons-mobile-mlb-milwaukee-brewers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -198px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -198px;
}
.icons-mobile-mlb-minnesota-twins {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -0px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -264px;
}
.icons-mobile-mlb-mlb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -66px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -264px;
}
.icons-mobile-mlb-new-york-mets {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -132px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -264px;
}
.icons-mobile-mlb-new-york-yankees {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -198px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -264px;
}
.icons-mobile-mlb-oakland-athletics {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -264px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -0px;
}
.icons-mobile-mlb-philadelphia-phillies {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -264px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -66px;
}
.icons-mobile-mlb-pittsburgh-pirates {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -264px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -132px;
}
.icons-mobile-mlb-san-diego-padres {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -264px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -198px;
}
.icons-mobile-mlb-san-francisco-giants {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -264px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -264px;
}
.icons-mobile-mlb-seattle-mariners {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -0px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -330px;
}
.icons-mobile-mlb-st-louis-cardinals {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -66px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -330px;
}
.icons-mobile-mlb-tampa-bay-rays {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -132px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -330px;
}
.icons-mobile-mlb-texas-rangers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -198px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -330px;
}
.icons-mobile-mlb-toronto-blue-jays {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -264px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -330px;
}
.icons-mobile-mlb-washington-nationals {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-64_20260226.png') no-repeat -330px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -0px;
}