.icons-mlb-arizona-diamondbacks {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -0px -0px;
   width: 100px;
   height: 100px;
}
.icons-mlb-atlanta-braves {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -0px -102px;
   width: 100px;
   height: 100px;
}
.icons-mlb-baltimore-orioles {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -102px -0px;
   width: 100px;
   height: 100px;
}
.icons-mlb-boston-red-sox {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -102px -102px;
   width: 100px;
   height: 100px;
}
.icons-mlb-chicago-cubs {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -0px -204px;
   width: 100px;
   height: 100px;
}
.icons-mlb-chicago-white-sox {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -102px -204px;
   width: 100px;
   height: 100px;
}
.icons-mlb-cincinnati-reds {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -204px -0px;
   width: 100px;
   height: 100px;
}
.icons-mlb-cleveland-guardians {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -204px -102px;
   width: 100px;
   height: 100px;
}
.icons-mlb-colorado-rockies {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -204px -204px;
   width: 100px;
   height: 100px;
}
.icons-mlb-detroit-tigers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -0px -306px;
   width: 100px;
   height: 100px;
}
.icons-mlb-houston-astros {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -102px -306px;
   width: 100px;
   height: 100px;
}
.icons-mlb-kansas-city-royals {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -204px -306px;
   width: 100px;
   height: 100px;
}
.icons-mlb-los-angeles-angels {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -306px -0px;
   width: 100px;
   height: 100px;
}
.icons-mlb-los-angeles-dodgers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -306px -102px;
   width: 100px;
   height: 100px;
}
.icons-mlb-miami-marlins {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -306px -204px;
   width: 100px;
   height: 100px;
}
.icons-mlb-milwaukee-brewers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -306px -306px;
   width: 100px;
   height: 100px;
}
.icons-mlb-minnesota-twins {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -0px -408px;
   width: 100px;
   height: 100px;
}
.icons-mlb-mlb {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -102px -408px;
   width: 100px;
   height: 100px;
}
.icons-mlb-new-york-mets {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -204px -408px;
   width: 100px;
   height: 100px;
}
.icons-mlb-new-york-yankees {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -306px -408px;
   width: 100px;
   height: 100px;
}
.icons-mlb-oakland-athletics {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -408px -0px;
   width: 100px;
   height: 100px;
}
.icons-mlb-philadelphia-phillies {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -408px -102px;
   width: 100px;
   height: 100px;
}
.icons-mlb-pittsburgh-pirates {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -408px -204px;
   width: 100px;
   height: 100px;
}
.icons-mlb-san-diego-padres {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -408px -306px;
   width: 100px;
   height: 100px;
}
.icons-mlb-san-francisco-giants {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -408px -408px;
   width: 100px;
   height: 100px;
}
.icons-mlb-seattle-mariners {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -0px -510px;
   width: 100px;
   height: 100px;
}
.icons-mlb-st-louis-cardinals {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -102px -510px;
   width: 100px;
   height: 100px;
}
.icons-mlb-tampa-bay-rays {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -204px -510px;
   width: 100px;
   height: 100px;
}
.icons-mlb-texas-rangers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -306px -510px;
   width: 100px;
   height: 100px;
}
.icons-mlb-toronto-blue-jays {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -408px -510px;
   width: 100px;
   height: 100px;
}
.icons-mlb-washington-nationals {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/mlb-spritesheet-100_20260226.png') no-repeat -510px -0px;
   width: 100px;
   height: 100px;
}