.icons-mobile-nascar-acs {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -0px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -0px;
}
.icons-mobile-nascar-atms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -0px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -66px;
}
.icons-mobile-nascar-bms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -66px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -0px;
}
.icons-mobile-nascar-cls {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -66px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -66px;
}
.icons-mobile-nascar-cms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -0px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -132px;
}
.icons-mobile-nascar-cota {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -66px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -132px;
}
.icons-mobile-nascar-cs {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -132px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -0px;
}
.icons-mobile-nascar-csr {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -132px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -66px;
}
.icons-mobile-nascar-dis {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -132px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -132px;
}
.icons-mobile-nascar-dr {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -0px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -198px;
}
.icons-mobile-nascar-dvis {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -66px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -198px;
}
.icons-mobile-nascar-eps {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -132px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -198px;
}
.icons-mobile-nascar-hms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -198px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -0px;
}
.icons-mobile-nascar-ims {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -198px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -66px;
}
.icons-mobile-nascar-ks {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -198px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -132px;
}
.icons-mobile-nascar-kys {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -198px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -198px;
}
.icons-mobile-nascar-lvms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -0px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -264px;
}
.icons-mobile-nascar-mis {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -66px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -264px;
}
.icons-mobile-nascar-ms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -132px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -264px;
}
.icons-mobile-nascar-nascar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -198px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -264px;
}
.icons-mobile-nascar-nascar-bars {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -264px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -0px;
}
.icons-mobile-nascar-nascar-white {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -264px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -66px;
}
.icons-mobile-nascar-nhms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -264px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -132px;
}
.icons-mobile-nascar-nss {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -264px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -198px;
}
.icons-mobile-nascar-nws {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -264px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -264px;
}
.icons-mobile-nascar-pir {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -0px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -330px;
}
.icons-mobile-nascar-pr {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -66px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -330px;
}
.icons-mobile-nascar-rir {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -132px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -330px;
}
.icons-mobile-nascar-son {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -198px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -330px;
}
.icons-mobile-nascar-tms {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -264px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -330px;
}
.icons-mobile-nascar-tss {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -330px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -0px;
}
.icons-mobile-nascar-wgi {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nascar-spritesheet-64_20260226.png') no-repeat -330px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -66px;
}