.icons-mobile-nba-atlanta-hawks {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -0px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -0px;
}
.icons-mobile-nba-boston-celtics {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -0px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -66px;
}
.icons-mobile-nba-brooklyn-nets {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -66px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -0px;
}
.icons-mobile-nba-charlotte-hornets {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -66px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -66px;
}
.icons-mobile-nba-chicago-bulls {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -0px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -132px;
}
.icons-mobile-nba-cleveland-cavaliers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -66px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -132px;
}
.icons-mobile-nba-dallas-mavericks {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -132px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -0px;
}
.icons-mobile-nba-denver-nuggets {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -132px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -66px;
}
.icons-mobile-nba-detroit-pistons {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -132px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -132px;
}
.icons-mobile-nba-golden-state-warriors {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -0px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -198px;
}
.icons-mobile-nba-houston-rockets {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -66px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -198px;
}
.icons-mobile-nba-indiana-pacers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -132px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -198px;
}
.icons-mobile-nba-la-clippers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -198px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -0px;
}
.icons-mobile-nba-los-angeles-lakers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -198px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -66px;
}
.icons-mobile-nba-memphis-grizzlies {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -198px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -132px;
}
.icons-mobile-nba-miami-heat {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -198px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -198px;
}
.icons-mobile-nba-milwaukee-bucks {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -0px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -264px;
}
.icons-mobile-nba-minnesota-timberwolves {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -66px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -264px;
}
.icons-mobile-nba-nba {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -132px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -264px;
}
.icons-mobile-nba-new-orleans-pelicans {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -198px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -264px;
}
.icons-mobile-nba-new-york-knicks {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -264px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -0px;
}
.icons-mobile-nba-oklahoma-city-thunder {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -264px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -66px;
}
.icons-mobile-nba-orlando-magic {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -264px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -132px;
}
.icons-mobile-nba-philadelphia-76ers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -264px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -198px;
}
.icons-mobile-nba-phoenix-suns {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -264px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -264px;
}
.icons-mobile-nba-portland-trail-blazers {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -0px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -330px;
}
.icons-mobile-nba-sacramento-kings {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -66px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -330px;
}
.icons-mobile-nba-san-antonio-spurs {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -132px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -330px;
}
.icons-mobile-nba-toronto-raptors {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -198px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -330px;
}
.icons-mobile-nba-utah-jazz {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -264px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -330px;
}
.icons-mobile-nba-washington-wizards {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nba-spritesheet-64_20260226.png') no-repeat -330px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -0px;
}