.icons-mobile-nhl-nhl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -0px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -0px;
}
.icons-mobile-nhl-nhl100 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -0px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -66px;
}
.icons-mobile-nhl-nhlava {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -66px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -0px;
}
.icons-mobile-nhl-nhlbjac {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -66px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -66px;
}
.icons-mobile-nhl-nhlblack {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -0px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -132px;
}
.icons-mobile-nhl-nhlblu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -66px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -132px;
}
.icons-mobile-nhl-nhlbru {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -132px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -0px;
}
.icons-mobile-nhl-nhlca {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -132px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -66px;
}
.icons-mobile-nhl-nhlcanu {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -132px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -132px;
}
.icons-mobile-nhl-nhlcap {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -0px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -198px;
}
.icons-mobile-nhl-nhlcc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -66px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -198px;
}
.icons-mobile-nhl-nhlcoy {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -132px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -198px;
}
.icons-mobile-nhl-nhldev {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -198px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -0px;
}
.icons-mobile-nhl-nhlduck {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -198px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -66px;
}
.icons-mobile-nhl-nhlflam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -198px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -132px;
}
.icons-mobile-nhl-nhlfly {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -198px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -198px;
}
.icons-mobile-nhl-nhlgok {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -0px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -264px;
}
.icons-mobile-nhl-nhlhc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -66px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -264px;
}
.icons-mobile-nhl-nhlhc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -132px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -264px;
}
.icons-mobile-nhl-nhlhc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -198px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -264px;
}
.icons-mobile-nhl-nhlhur {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -264px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -0px;
}
.icons-mobile-nhl-nhlisl {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -264px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -66px;
}
.icons-mobile-nhl-nhljet {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -264px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -132px;
}
.icons-mobile-nhl-nhlking {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -264px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -198px;
}
.icons-mobile-nhl-nhlkrak {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -264px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -264px;
}
.icons-mobile-nhl-nhlligh {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -0px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -330px;
}
.icons-mobile-nhl-nhlmam {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -66px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -330px;
}
.icons-mobile-nhl-nhlmap {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -132px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -330px;
}
.icons-mobile-nhl-nhloil {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -198px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -330px;
}
.icons-mobile-nhl-nhlpan {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -264px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -330px;
}
.icons-mobile-nhl-nhlpen {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -330px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -0px;
}
.icons-mobile-nhl-nhlpred {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -330px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -66px;
}
.icons-mobile-nhl-nhlrang {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -330px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -132px;
}
.icons-mobile-nhl-nhlsab {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -330px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -198px;
}
.icons-mobile-nhl-nhlsc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -330px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -264px;
}
.icons-mobile-nhl-nhlsc15 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -330px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -330px;
}
.icons-mobile-nhl-nhlsc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -0px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -396px;
}
.icons-mobile-nhl-nhlsc17 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -66px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -396px;
}
.icons-mobile-nhl-nhlsc18 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -132px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -396px;
}
.icons-mobile-nhl-nhlsc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -198px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -396px;
}
.icons-mobile-nhl-nhlsc20 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -264px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -396px;
}
.icons-mobile-nhl-nhlsc21 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -330px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -396px;
}
.icons-mobile-nhl-nhlsc22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -396px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -0px;
}
.icons-mobile-nhl-nhlsen {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -396px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -66px;
}
.icons-mobile-nhl-nhlshar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -396px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -132px;
}
.icons-mobile-nhl-nhlss {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -396px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -198px;
}
.icons-mobile-nhl-nhlss15 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -396px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -264px;
}
.icons-mobile-nhl-nhlss17 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -396px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -330px;
}
.icons-mobile-nhl-nhlss22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -396px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -396px;
}
.icons-mobile-nhl-nhlss23 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -0px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -0px -462px;
}
.icons-mobile-nhl-nhlss25 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -66px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -66px -462px;
}
.icons-mobile-nhl-nhlss26 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -132px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -132px -462px;
}
.icons-mobile-nhl-nhlstar {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -198px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -198px -462px;
}
.icons-mobile-nhl-nhlutah {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -264px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -264px -462px;
}
.icons-mobile-nhl-nhlwc {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -330px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -330px -462px;
}
.icons-mobile-nhl-nhlwc16 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -396px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -396px -462px;
}
.icons-mobile-nhl-nhlwc19 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -462px -0px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -0px;
}
.icons-mobile-nhl-nhlwc20 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -462px -66px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -66px;
}
.icons-mobile-nhl-nhlwc23 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -462px -132px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -132px;
}
.icons-mobile-nhl-nhlwc24 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -462px -198px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -198px;
}
.icons-mobile-nhl-nhlwc22 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -462px -264px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -264px;
}
.icons-mobile-nhl-nhlwc26 {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -462px -330px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -330px;
}
.icons-mobile-nhl-nhlwild {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -462px -396px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -396px;
}
.icons-mobile-nhl-nhlwing {
   background: url('https://cdn11.bigcommerce.com/s-xexc16uo8q/content/assets/nhl-spritesheet-64_20260225.png') no-repeat -462px -462px;
   width: 64px;
   height: 64px;
   zoom:0.5;
   -moz-transform:scale(0.5);
   -moz-transform-origin: -462px -462px;
}