<ul class="cart-totals">
    <li class="cart-total">
        <div class="cart-total-label">
            {{lang 'cart.checkout.subtotal'}}:
        </div>
        <div class="cart-total-value">
            {{#or customer (unless settings.hide_price_from_guests)}}
                <span>{{cart.sub_total.formatted}}</span>
            {{else}}
                {{> components/common/login-for-pricing}}
            {{/or}}
        </div>
    </li>
    {{#if cart.gift_wrapping_cost.value}}
        <li class="cart-total">
            <div class="cart-total-label">
                {{lang 'cart.checkout.gift_wrapping'}}:
            </div>
            <div class="cart-total-value">
                <span>{{cart.gift_wrapping_cost.formatted}}</span>
            </div>
        </li>
    {{/if}}
    {{#if cart.fees}}
        {{#each cart.fees}}
            <li class="cart-total">
                <div class="cart-total-label">
                   {{display_name}}:
                </div>
                <div class="cart-total-value">
                    <span>{{cost.formatted}}</span>
                </div>
            </li>
        {{/each}}
    {{/if}}
    {{#if cart.shipping_handling.show_estimator}}
        <li class="cart-total cart-total-shipping-estimator">
	  <div class="cart-total-edd"><p>Add your info to see shipping feeds & estimated delivery date.</p></div>
            <div class="cart-total-label">
                {{lang 'cart.checkout.shipping'}}:
            </div>
            {{> components/cart/shipping-estimator cart.shipping_handling}}
        </li>
    {{/if}}
    {{#each cart.taxes}}
        {{#unless included}}
            <li class="cart-total">
                <div class="cart-total-label">
                    {{name}}:
                </div>
                <div class="cart-total-value">
                    <span>{{cost.formatted}}</span>
                </div>
            </li>
        {{/unless}}
    {{/each}}
    {{#if cart.discount }}
        <li class="cart-total">
            <div class="cart-total-label">
                {{lang 'cart.discount'}}:
            </div>
            <div class="cart-total-value">
                {{cart.discount.formatted}}
            </div>
        </li>
    {{/if}}
    {{#if cart.coupons}}
        {{#each cart.coupons}}
            <li class="cart-total">
                <div class="cart-total-label">
                    {{lang 'cart.coupons.code_label' code=code}}
                    <div>
                        <a href="{{remove_url}}">{{lang 'cart.coupons.remove'}}</a>
                    </div>
                </div>
                <div class="cart-total-value">
                    <span>{{discount.formatted}}</span>
                </div>
            </li>
        {{/each}}
    {{else}}
        <li class="cart-total">
            <div class="cart-total-label">
                {{lang 'cart.coupon_code'}}:
            </div>
            {{> components/cart/coupon-input}}
        </li>
    {{/if}}
    {{#if settings.gift_certificates_enabled}}
        {{#unless cart.multi_coupon_ui_enabled}}
            {{#each cart.gift_certificates}}
                <li class="cart-total">
                    <div class="cart-total-label">
                        <strong>{{lang 'cart.gift_certificates.code_label' code=code}}</strong>
                        <span>
                            {{remaining.formatted}} | <a href="{{remove_url}}">{{lang 'cart.gift_certificates.remove'}}</a>
                        </span>
                    </div>
                    <div class="cart-total-value">
                        {{used.formatted}}
                    </div>
                </li>
            {{/each}}
        {{/unless}}
        <li class="cart-total {{#if cart.multi_coupon_ui_enabled}}cart-total-gift-certificate{{/if}}">
            <div class="cart-total-label">
                <strong>{{lang 'cart.gift_certificates.gift_certificate'}}{{#unless cart.multi_coupon_ui_enabled}}:{{/unless}}</strong>
                {{#if cart.multi_coupon_ui_enabled}}
                    {{> components/cart/gift-certificate}}
                {{/if}}
            </div>
            {{#unless cart.multi_coupon_ui_enabled}}
                {{> components/cart/gift-certificate}}
            {{/unless}}
            {{> components/cart/gift-certificate-input}}
        </li>
        {{#if cart.multi_coupon_ui_enabled}}
            {{#each cart.gift_certificates}}
                <li class="cart-total cart-total-gift-certificate-list-item">
                    <div class="cart-total-label">
                        <i class="icon" aria-hidden="true"><svg><use href="#icon-gifts" /></svg></i>
                        <span>{{code}}</span>
                        {{#if remaining.value}}
                            <span>| {{remaining.formatted}} left</span>
                        {{/if}}
                        <a href="{{remove_url}}">{{lang 'cart.gift_certificates.remove'}}</a>
                    </div>
                    <div class="cart-total-value">
                        {{used.formatted}}
                    </div>
                </li>
            {{/each}}
        {{/if}}
    {{/if}}
    <li class="cart-total {{#if cart.multi_coupon_ui_enabled}}cart-total-with-savings{{/if}}">
        {{#if cart.multi_coupon_ui_enabled}}
            <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.total'}}</strong>
            </div>
            <div class="cart-total-value cart-total-grandTotal">
                {{#or customer (unless settings.hide_price_from_guests) }}
                    <span class="cart-total-amount">{{cart.grand_total.formatted}}</span>
                    {{#if cart.total_discount.value}}
                        <span class="cart-total-savings">{{lang 'cart.checkout.you_saved'}} <span class="cart-savings-amount">{{cart.total_discount.formatted}}</span> {{lang 'cart.checkout.in_total'}}</span>
                    {{/if}}
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        {{else}}
            <div class="cart-total-label">
                <strong>{{lang 'cart.checkout.grand_total'}}:</strong>
            </div>
            <div class="cart-total-value cart-total-grandTotal">
                {{#or customer (unless settings.hide_price_from_guests)}}
                    <span>{{cart.grand_total.formatted}}</span>
                {{else}}
                    {{> components/common/login-for-pricing}}
                {{/or}}
            </div>
        {{/if}}
    </li>
    {{#each cart.taxes}}
        {{#if included}}
            <li class="cart-total">
                <div class="cart-total-label">
                    <strong>{{concat name (lang 'cart.included_in_total')}}{{#unless ../cart.multi_coupon_ui_enabled}}:{{/unless}}</strong>
                </div>
                <div class="cart-total-value">
                    <span>{{cost.formatted}}</span>
                </div>
            </li>
        {{/if}}
    {{/each}}
</ul>
